.hero-unit{
  height: 100vh;
  min-height: 500px;
  background-image: url('../img/planet2.png');
  background-size: cover;
  background-position: center;


  .hero-unit-subheading{
    color: #9acff6;
    text-transform: uppercase;
    padding-top: 20px;
    h1 {
      font-size: 3.8rem;
      font-weight: 700;
      letter-spacing: 0.3rem;
      text-shadow: 0.1rem 0.1rem 0.8rem black;
      padding-bottom: 1rem;
    }
    h3 {
      font-size: 2rem;
      text-shadow: 0.1rem 0.1rem 0.5rem black;
      padding-bottom: 1.6rem;
    }
  }
}

@media only screen and (max-width: 576px){
  .hero-unit{
    height: 100vh;
    background-image: url(../img/planet2.png);
    background-size: cover;
    background-position: center;

    .hero-unit-subheading{
      color: #9acff6;
      text-transform: uppercase;
    h1 {
      font-size: 1.9rem;
      font-weight: 700;
      letter-spacing: 0.1rem;
      text-shadow: 0.1rem 0.1rem 0.8rem black;
      padding-bottom: 0.5rem;
    }
    h3 {
      font-size: 1rem;
      text-shadow: 0.1rem 0.1rem 0.5rem black;
      padding-bottom: 0.8rem;
    }
    .btn{
      font-size: medium;
      letter-spacing: 0.1px;
      
    }
    }
  }
}
